{%extends "index.html"%}
{%block country_data%}
<h1 class="text-center">{{name}}</h1>
<div style="margin-top=300px" class="card-deck col-12 align-middle">
  <div class="card text-white bg-primary mb-3" style="max-width: 18rem;">
      <div class="card-header"><h4 class="text-center">Confirmed Cases</h4></div>
      <div class="card-body">
        <h1 class="text-center">{{confirmed_c}}</h1>
      </div>
  </div>
  <div class="card text-white bg-danger mb-3" style="max-width: 18rem;">
      <div class="card-header"><h4 class="text-center">Deaths</h4></div>
      <div class="card-body">
        <h1 class="text-center">{{deaths_c}}</h1>
      </div>
  </div>
  <div class="card text-white bg-success mb-3" style="max-width: 18rem;">
      <div class="card-header"><h4 class="text-center">Recovered</h4></div>
      <div class="card-body">
        <h1 class="text-center">{{recovered_c}}</h1>
      </div>
  </div>
</div>
{%endblock%}
